# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE files (если используете PyCharm)
.idea/
*.swp
*.swo

# Database files (если есть)
*.db
*.sqlite3

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Python
hashing_password.py